<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find snap_circuits)/rosconsole.conf"/>

  <node name="board_calibrator" pkg="snap_circuits" type="board_calibrator" respawn="false" output="screen">
    <param name="show" value="true" />
    <param name="sub"  value="/cameras/right_hand_camera/image" />
    <param name="pub"  value="/snap_circuits/image_undistorted" />
  </node>

  <node name="image_undistorted" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/snap_circuits/image_undistorted"/>
    <param name="autosize" value="true" />
  </node>

</launch>
