<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find snap_circuits)/rosconsole.conf"/>

  <node name="state_estimator" pkg="snap_circuits" type="state_estimator" respawn="false" output="screen">
    <param name="show" value="true" />
    <param name="sub"  value="/snap_circuits/image_undistorted" />
    <param name="pub"  value="/snap_circuits/board_state" />
  </node>

</launch>
